:root {
  --primary-color: #E54F6D;
  --light-color: #EC8398;
  --body-text: #1E1E24;
  --flat-grey: #DDDDDD;
  --text-grey: #666666;

  --header-1: 2.5rem;
  --header-2: 2rem;
  --header-3: 1.4rem;
  --header-4: 1.15rem;
  --header-5: 1rem;
  --header-6: 0.8rem;

  --paragraph: 1rem;
  --code: 0.7rem;
  --inline-code: 0.85rem;

}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: var(--body-text);
}

* {
  cursor: default;
}

a {
  transition: all 0.2s ease-in-out;
  color: var(--primary-color);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: var(--light-color);
  cursor: pointer;
}

code[class*="language-"], pre[class*="language-"] {
  background: white !important;
  font-size: var(--code) !important;
}

pre {
  border: 1px solid #ddd !important;
  border-radius: 0.25rem !important;
}

figure.kg-card {
  margin: 2rem auto;
  text-align: center;
}

div.kg-code-card {
  margin-bottom: 1.5rem !important;
}

p > code.language-text {
  background: #EDEDED !important;
  padding: 0.1rem 0.45rem !important;
  margin-right: 0.3rem;
  font-size: var(--inline-code) !important;
}

div.kg-code-card, figcaption,
pre, ol li, ul li, h1, h2, h3, h4, h5, h6 {
  max-width: 36rem;
  margin: auto auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin-bottom: 0.25rem;
  line-height: 1.6;
}

h1 { font-size: var(--header-1); }
h2 { font-size: var(--header-2); }
h3 { font-size: var(--header-3); }
h4 { font-size: var(--header-4); }
h5 { font-size: var(--header-5); }
h6 { font-size: var(--header-6); }

p, ol li, ul li {
  max-width: 36rem;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  font-weight: 400;
  font-size: var(--paragraph);
  line-height: 1.85;
}

li {
  margin: 0rem auto !important;
  padding-left: 0rem !important;
}

ol, ul {
  padding-left: 2.5rem;
}

.small { font-size: 0.65rem; }
.light { font-weight: 300; }

.postPageTitle {
  padding-bottom: 1.5rem;
  text-align: center;
}

.postPageTags {
  padding-bottom: 2rem;
  text-align: center;
}


@media (max-width: 640px) {

  :root {
    --header-1: 2rem;
    --header-2: 1.5rem;
    --header-3: 1.25rem;
    --header-4: 1rem;
    --header-5: 0.9rem;
    --header-6: 0.7rem;
    --paragraph: 0.8rem;
    --code: 0.6rem;
    --inline-code: 0.75rem;
  }

  div.kg-code-card, p, pre, ol li, ul li, h1, h2, h3, h4, h5, h6 {
    max-width: auto;
    margin-left: auto;
  }

  p, ol li, ul li { margin-bottom: 1rem; }
  ol, ul { padding-left: 0.25rem; }

  .postPageTitle, .postPageTags {
    text-align: left;
  }

}
