body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #1E1E24;
}

* {
  cursor: default;
}

a {
  transition: all 0.2s ease-in-out;
  color: #E54F6D;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #EC8398;
  cursor: pointer;
}

code[class*="language-"], pre[class*="language-"] {
  background: white !important;
  font-size: 0.70rem !important;
}

pre {
  border: 1px solid #ddd !important;
  border-radius: 0.25rem !important;
}

figure.kg-card {
  margin: 2rem auto;
}

div.kg-code-card {
  margin-bottom: 1.5rem !important;
}

p > code.language-text {
  background: #EDEDED !important;
  padding: 0.1rem 0.45rem !important;
  margin-right: 0.3rem;
  font-size: 0.85rem !important;
}

div.kg-code-card, figcaption,
pre, ol li, ul li, h1, h2, h3, h4, h5, h6 {
  max-width: 36rem;
  margin: auto auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin-bottom: 0.25rem;
  line-height: 1.6;
}

h1 { font-size: 3rem; }
h2 { font-size: 2.25rem; }
h3 { font-size: 1.4rem; }
h4 { font-size: 1.15rem; }
h5 { font-size: 1rem; }
h6 { font-size: 0.8rem; }

p, ol li, ul li {
  max-width: 36rem;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.85;
}

li {
  margin: 0rem auto !important;
  padding-left: 0rem !important;
}

ol, ul {
  padding-left: 2.5rem;
}

.small { font-size: 0.65rem; }
.light { font-weight: 300; }

.postPageTitle {
  padding-bottom: 1.5rem;
  text-align: center;
}

.postPageTags {
  padding-bottom: 2rem;
  text-align: center;
}


@media (max-width: 640px) {

  div.kg-code-card, p, pre, ol li, ul li, h1, h2, h3, h4, h5, h6 {
    max-width: auto;
    margin-left: auto;
  }

  h1 { font-size: 2rem; }
  h2 { font-size: 1.5rem; }
  h3 { font-size: 1.3rem; }
  h4 { font-size: 1rem; }
  h5 { font-size: 1rem; }
  h6 { font-size: 0.8rem; }

  p, ol li, ul li { font-size: 0.8rem; margin-bottom: 1rem; }
  ol, ul { padding-left: 0.25rem; }


  code[class*="language-"], pre[class*="language-"] {
    font-size: 0.6rem !important;
  }

  p > code.language-text {
    font-size: 0.75rem !important;
  }

  .postPageTitle, .postPageTags {
    text-align: left;
  }

}
