.tagContainer {
  padding: 1rem 0;
  max-width: 36rem;
  margin: 0 auto;
}

.display {
  display:inline-block;
  padding-right: 6px;
  padding-bottom: 4px;
}

.badge {
  display: inline-block;
  padding: 0.25rem 0.5rem 0.15rem 0.5rem;
  text-align: center;
  font-weight: 400;
  font-size: 0.65rem;
  background-color: #DDD;
  border-radius: 0.4rem;
  color: #1E1E24;
  transition: all 0.2s ease-in-out;
}

.badge:hover {
  cursor: pointer;
  background-color: #E54F6D;
  color: white;
  border-radius:0.15rem;
}
